.aboutctn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.about-first-heading{
  text-align: center;
  color: rgb(47, 47, 82);
}
.about-second-heading{
  color: rgb(47, 47, 82);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.summaryctn{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border: 2px solid blue;
  border-radius: 20px;
  width: 60%;
  margin: 20px;
  font-size: 18px;
}

@media (max-width:800px){
  .summaryctn{
    grid-template-columns: 1fr;
    align-items: center;
  }
}